{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Attendance System - Face Recognition</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart
  * Updated: Jun 19 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="getstarted scrollto" href="{% url 'login' %}">LOGIN</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">ASFR</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">pencatatan absensi siswa dengan mudah menggunakan wajah</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'login' %}"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>LOGIN</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="{% static 'assets/img/features.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Absensi Menggunakan Wajah</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Pelatihan Model</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Laporan Absensi</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Mudah Digunakan</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">

          <div class="container" data-aos="fade-up">

            <header class="section-header">
              <h2>F.A.Q</h2>
              <p>Frequently Asked Questions</p>
            </header>

            <div class="row">
              <div class="col-lg-6">
                <!-- F.A.Q List 1-->
                <div class="accordion accordion-flush" id="faqlist1">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-1">
                        Apa itu absensi berbasis wajah?
                      </button>
                    </h2>
                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Absensi berbasis wajah adalah metode yang menggunakan teknologi pengenalan wajah untuk
                        mengidentifikasi dan memverifikasi kehadiran seseorang dalam suatu sistem absensi.
                        Dalam hal ini, wajah individu digunakan sebagai tanda pengenal unik.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-2">
                        Bagaimana absensi berbasis wajah bekerja?
                      </button>
                    </h2>
                    <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Absensi berbasis wajah bekerja dengan langkah-langkah berikut:<br>
                        a. Siswa berdiri di depan kamera yang terhubung ke sistem absensi. <br>
                        b. Kamera akan mengambil gambar wajah siswa.<br>
                        c. Sistem akan menganalisis fitur wajah dan membandingkannya dengan data siswa yang sudah
                        terdaftar.<br>
                        d. Jika cocok, kehadiran siswa akan tercatat dan informasi tersebut akan diintegrasikan ke dalam
                        sistem absensi.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq-content-3">
                        Apakah sistem absensi berbasis wajah melanggar privasi siswa?
                      </button>
                    </h2>
                    <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                      <div class="accordion-body">
                        Sistem absensi berbasis wajah yang baik harus memperhatikan kebijakan privasi dan melindungi data siswa dengan cermat. Informasi wajah siswa harus disimpan dengan aman dan hanya digunakan untuk tujuan absensi. Penting bagi sekolah untuk mengadopsi kebijakan privasi yang jelas dan memberikan pemahaman kepada siswa dan orang tua tentang bagaimana data wajah akan digunakan dan dilindungi.
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-lg-6">

                <!-- F.A.Q List 2-->
                <div class="accordion accordion-flush" id="faqlist2">

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-1">
                        Bagaimana jika siswa memiliki perubahan pada wajah mereka?
                      </button>
                    </h2>
                    <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        Sistem absensi berbasis wajah biasanya dapat menyesuaikan diri dengan perubahan wajah siswa seiring waktu, seperti pertumbuhan atau perubahan gaya rambut. Namun, jika ada perubahan drastis pada wajah siswa yang mengganggu pengenalan wajah, siswa dapat menghubungi pihak sekolah untuk memperbarui data wajah mereka.
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-2">
                        Bisakah absensi berbasis wajah digunakan dalam berbagai kondisi pencahayaan?
                      </button>
                    </h2>
                    <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        Sebagian besar sistem absensi berbasis wajah memiliki kemampuan untuk beroperasi dalam berbagai
                        kondisi pencahayaan, termasuk pencahayaan rendah atau pencahayaan yang berbeda-beda. Namun,
                        performa sistem mungkin lebih baik dalam kondisi pencahayaan yang memadai.
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </section><!-- End F.A.Q Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
            </a>
            <p>Attendance System - Face Recogniton</p>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Panggung Baru <br>
              Tegal, Jawa Tengah 52122<br>
              Indonesia <br><br>
              <strong>Phone:</strong> +62 852 9231 0518<br>
              <strong>Email:</strong> miftakhulmubarrok@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ASFR</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/index.js' %}"></script>

</body>

</html>