{% extends 'studentpage/main.html' %}
{% block content %}
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#attendance" data-toggle="tab" class="nav-link">Attendance</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h4 class="mb-3">Student Profile</h4>
                    {% for students in student %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Nama Siswa</h6>
                            <h6>
                            <p>
                                {{students.name}}
                            </p>
                            </h6>
                            <h5>Kelas</h5>
                            <p>
                                {{students.description}}
                            </p>
                            <!-- <h5>Email</h5>
                            <p>
                                {{students.email}}
                            </p>
                            <h5>No. Handphone</h5>
                            <p>
                                {{students.phone}}
                            </p> -->
                            <h5>Student ID</h5>
                            <p>
                                {{students.student_id}}
                            </p>
                            <h5>Alamat Rumah</h5>
                            <p>
                                {{students.address}}
                            </p>                        
                        </div>
                        <div class="col-md-6">
                            <h5>Absensi</h5>
                            <span class="badge badge-primary"><i class="fa fa-user"></i> Jumlah Kehadiran: {{present}}</span>
                            <span class="badge badge-success"><i class="fa fa-cog"></i> Jumalah TIdak Hadir: {{absent}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="attendance">
                        <table class="table table-sm">
                            <tr>
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                            {% for attendances in attendance %}
                                <tr>
                                    <td>{{attendances.roll}}</td>
                                    <td>{{attendances.name}}</td>
                                    <td>{{attendances.date}}</td>
                                    <td>{{attendances.time}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center"> 
            <img src="{{students.profile_pic.url}}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
        </div>
    </div>
    
<hr>
<div class="alert alert-success" role="alert">
    {% for message in messages %}
        <p id="message">{{message}}</p>
    {% endfor %}
</div>
</div>
{% endblock %}